<p>Hey <%= name %>,</p>
<p>
  Thanks for signing up for Nice App. We're very excited to have you on board.
</p>

<p>To get started using QuickFix App, please confirm your account using the OTP code below:</p>
<p>
  <h2 > <%= otpCode %> </h2>
</p>

